#                 Data types and structures

1. What are data structures, and why are they important?
>>- Data structures are ways of organizing and storing data efficiently. eg-, list,sets,dictionaries. They are important because they help manage data, allow faster access, and make problem-solving easier.

2. Explain the difference between mutable and immutable data types with examples.

>>- Mutable: can be changed after creation(list, dict, set).

In [ ]:
1 = [1, 2, 3]
1.append(4) # List modified
print(1)

>>- immutable: cannot be changed after creation(tuple, string).

In [ ]:
s = "Hello"
s[0] = "J" # Error

3. What are the main differences between lists and tuples in python?

>>- list are mutable, tuples are immutable.
list use[], tuples use().
>>- tuples are faster and memory-efficient compared to lists.

4. Describe how dictionaries store data.
>>- Dictionaries store data as key value pairs in a hash table. keys must be unique and immutable, while values can be of any type.

5. Why might you use a set instead of a list in python?

>>- Sets remove duplicates automatically.
>>- sets provide faster membership test(in operator).

6. What is a string in python, and how is it different from a list?

>>- A string is a sequence of characters, immutable, and indexed. a list is a sequence of elements (can be mixed types), mutable, and can be modified.

7. How do tuples ensure data integrity in python?

>>- Since tuples are immutable, their values cannot be changed after creation. this makes them reliable for storing constant data.

8. What is harh table, and how does it relate to dictionaries in python?

>>- A hash table stores key value pairs using a harh function for quick lookup. python dicitonories are implemented using hash tables.

9. Can lists contain different data types in python?

>>- eg

In [ ]:
my_list = [1, "hello", True, 3.14]

10. Explain why strings are immutable in python?

>>- Strings are immutable for efficiency, memory optimization(string interning), and security ( hashing, caching).

11. What advantages do dictionaries offer over lists for certain tasks?

>>- fast data retrieval using keys.
>>- keys provide meaningful access insteadd of numeric indexes.

12. Describe a scenario where using a tuple would be preferable over a list.

>>- When storing fixed data (like coordinates (x,y) or days of the week), tuples are better since data should not change.

13. How do sets handle duplicate values in python?

>>- Sets automatically remove duplicates.

In [1]:
{1, 2, 2, 3}

{1, 2, 3}

14. How does the "in" keyword work differently for lists and dictionaries?

>>- List: checks if an element exists.
>>- Dictionaries: checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
>>- No. tuples are immutable, so elements cannot  be added, removed, or changed.

16. What is a nested dictionary, and give an example of its use case?
>>- A dictionary inside another dictionary.

In [3]:
student = {"name": "Alice", "age": 20, "grades": {"math": 90, "science": 85, "history": 78}}

17. Describe the time complexity of accessing elements in dictionary.
>>- On average, O(1) (constant time) due to hashing.

18. In what situations are lists preferred over dictionaries?
>>- When order matters.
>>- When you don't need key value mapping.
>>- when handling small, sequential data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>>- Dictionaries do not maintain insertion order in older python versions before(3.7). retrieval is based on keys, not order.

20. Explain the difference b/w a list and a dictionary in terms of data retrieval.
>>- List: accessed by index (my_list[2]).
>>- Dictionary: accessed by key (my_dict["name"]).

# Practical Question and answer

1. Write a code to create a string with your name and print it.

In [4]:
name = "John Doe"
print(name)

John Doe

2. Write a code to find the length of the string "Hello World".

In [5]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "python programming".

In [6]:
s = "Python Programming"
print(s[:3]) # Output: Pyt

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [7]:
s = "hello"
print(s.upper())

HELLO

5. Write a code to replace the world "apple" with "orange" int the string "I like apple".

In [8]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with number 1 to 5 and print it.

In [9]:
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4].

In [10]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 fromt the list[1,2,3,4,5].

In [11]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a', 'b', 'c', 'd'].

In [12]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10,20,30,40,50].

In [13]:
number = [10, 20, 30, 40, 50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [14]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second to last element of the tuple ('red','green', 'blue', 'yellow').

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimun number in the tuple (10,20,5 ,15).

In [16]:
number = (10, 20, 5, 15)
print(min(number))

5

14. Write a code the find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tup;e containing three different fruits and check if "kiwi" is in it.

In [18]:
fruits =  ("apple", "banana", "orange")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set{1,2,3,4,5}.

In [20]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set{1,2,3,4}.

In [21]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two set {1,2,3} and {3,4,5}.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets{1,2,3} and {2,3,4].

In [25]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
person = { "name": "John", "age": 25, "city": "USA"}
print(person)

{'name': 'John', 'age': 25, 'city': 'USA'}

22. Write a code to add a new key value pair "country": "USA" to the dictionary{"name":"john","age":25}.

In [27]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary{"name":"alice", "age":30}.

In [28]:
person= {"name": "Alice", "age": 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary{"name": "bob", "age":22, "city": "new york"}.

In [29]:
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {"name", "alice", "city": "paris"}.

In [30]:
person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": "10", "b": 20, "c": 30}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': '10', 'b': 20, 'c': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [32]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[27, 40, 50, 65, 82]

28. Write a code to create a list with strings and print the element at the third index.

In [33]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3]) # Index 3 > "cherry"

date

29. Write a code to combine two dictionaries into one and print the result.

In [34]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)
#

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [35]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
word_set = set(words)
print(word_set)

{'banana', 'cherry', 'elderberry', 'date', 'apple'}